In [14]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

from sklearn.metrics import recall_score, precision_score

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/michaelmml/Financial-Data-Science/refs/heads/main/loan_approval_dataset.csv")

df.columns = df.columns.str.replace(' ', '')

x = df.drop(['loan_id', 'loan_status'], axis=1)
y = df['loan_status']

In [6]:
y.value_counts().index[0]

' Approved'

In [7]:
x = pd.get_dummies(x)
x.head()

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_ Graduate,education_ Not Graduate,self_employed_ No,self_employed_ Yes
0,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,True,False,True,False
1,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,False,True,False,True
2,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,True,False,True,False
3,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,True,False,True,False
4,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,False,True,False,True

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_scaled = scaler.fit_transform(x)

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

In [13]:
import dagshub
import mlflow
dagshub.init(repo_owner='AdityaThakare72', repo_name='mini-test', mlflow=True)
mlflow.set_tracking_uri("https://dagshub.com/AdityaThakare72/mini-test.mlflow")
mlflow.set_experiment("exp1_baseline_model")

Initialized MLflow to track repo "AdityaThakare72/mini-test"

Repository AdityaThakare72/mini-test initialized!

In [ ]:

from sklearn.ensemble import RandomForestClassifier

In [15]:

with mlflow.start_run():

    mlflow.log_param("scaler", "StandardScaler")
    mlflow.log_param("test_size", 0.2)
    mlflow.log_param("random_state_train_test_split", 42)

    model = RandomForestClassifier()

    model.fit(x_train, y_train)

    mlflow.log_param("model", "RandomForestClassifier")

    y_pred = model.predict(x_test)

    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, pos_label=' Approved')
    recall = recall_score(y_test, y_pred, pos_label=' Approved')

    mlflow.log_metric("accuracy", accuracy)
    mlflow.log_metric("precision", precision)
    mlflow.log_metric("recall", recall)

    mlflow.sklearn.log_model(model, "model")

    # save and log the notebook
    mlflow.log_artifact("exp1_baseline_model.ipynb")

2024/12/26 04:16:55 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

üèÉ View run marvelous-shrew-772 at: https://dagshub.com/AdityaThakare72/mini-test.mlflow/#/experiments/0/runs/a7f6eb4b9697463fad8ab84f5181e157
üß™ View experiment at: https://dagshub.com/AdityaThakare72/mini-test.mlflow/#/experiments/0